body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #222222;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navbar {
    position: relative;
    direction: rtl;
    background-color: #000000;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeIn 1s ease forwards;
}
@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.navbar-link {
    position: relative;
    text-decoration: none;
    padding: 5px;
    font-size: 20px;
    font-weight: 800;
    color: #1DCD9F;
    animation: fade 1.3s ease forwards;
    opacity: 0;
    transform: translateY(-50px);
}

@keyframes fade {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar-link::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 2px;
    bottom: -5px;
    left: 50%;
    background: white;
    transform: translateX(-50%);
    transition: all 0.3s ease;
}
.navbar-link:hover::after {
    width: 100%;
}
.navbar img {
    width: 150px;
    height: 150px;
}
#logo {
    width: fit-content;
    position: absolute;
    right: 60;
}
#login-link {
    position: absolute;
    left: 100;
}
.home-msg {
    width: fit-content;
    color: #1DCD9F;
    margin: 25vh auto;
    font-size: 25px;
    font-weight: 800;
    opacity: 0;
    transform: translateX(-100%);
    animation: msg-fade 2s forwards ease;
}
@keyframes msg-fade {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
#span1 {
    animation: fade1 1.5s  infinite alternate linear;
    opacity: 0;
}
#span2 {
    animation: fade2 1.5s  infinite alternate-reverse linear;
    opacity: 0;
}
#span3 {
    animation: fade3 1.5s  infinite reverse linear;
    opacity: 0;
}
@keyframes fade1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade2 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade3 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.back-link {
    height: 100px;
    width: fit-content;
    margin: 10px auto;
    transform: translateY(-200%);
    opacity: 0;
    animation: card-fade 2s forwards ease;
}
.back-link img {
    width: 200px;
    height: 200px;
}
.card {
    background-color: #423939;
    width: 350px;
    padding-inline: 20px;
    padding-block: 5px;
    text-align: right;
    margin: 30px auto;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 8px 2px #0d6850;
    display: flex;
    flex-direction: column;
    animation: card-fade 2s forwards ease;
    transform: translateY(-50%);
    opacity: 0;
}
.card h3 {
    font-size: 30px;
    color: #1DCD9F;
}
.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}
.login-form input {
    direction: rtl;
    width: 100%;
    padding: 7px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    background-color: #222222;
    color: rgb(183, 171, 148);
}
.login-form label {
    font-size: 16px;
    font-weight: 700;
    color: wheat;
}
.login-form a {
    margin-top: 15px;
    color: #1DCD9F;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
}
.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}
#togglePassword {
    position: absolute;
    left: 8px;
    bottom: 2;
    cursor: pointer;
    font-size: 25px;
    color: #1dcd9e;
}
#login-btn {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}
#login-btn:hover {
    color: white;
    background-color: #0d6850;
    transition: 0.3s linear all;
}
.sabte-name {
    width: 350px;
    text-align: center;
    padding: 10px;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    margin: 0px auto;
    background-color: #423939;
    box-shadow: 0px 0px 8px 2px #0d6850;
    color: wheat;
    animation: card-fade 2s forwards ease;
    transform: translateY(-100%);
    opacity: 0;
}
.sabte-name:hover {
    background-color: #0d6850;
    transition: 0.3s ease all;
}
.sabte-name span {
    margin-right: 15px;
}
@keyframes card-fade {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.profile-upper-section {
    padding: 8px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    animation: filter 2s forwards ease;
    filter: blur(50px);
}
@keyframes filter {
    to {
        filter: blur(0);
    }
}
.profile-upper-section a {
    position: relative;
    text-decoration: none;
    color: #1dcd9e;
    font-size: 20px;
    font-weight: 600;
}
.profile-upper-section a::after {
    position: absolute;
    content: "";
    background: white;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}
.profile-upper-section a:hover::after {
    width: 100%;
}
.profile-middle-section {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    animation: filter 2s forwards ease;
    filter: blur(50px);
}
.profile-middle-section div {
    padding: 5px;
    width: 23%;
    border-radius: 0.5rem;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 18px;
    font-weight: 600;
    color: #1dcd9e;
}
#first-blood-img {
    width: 50px;
    height: 50px;
    background: none;
}
hr {
    margin-top: 20px;
    width: 100%;
    height: 3px;
    background-color: #1DCD9F;
    border: none;
}
#toggle-btn {
    margin-top: 5px;
    width: 150px;
    padding: 5px;
    font-size: 14px;
    font-weight: 600;
    background-color: #0d6850;
    color: wheat;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    animation: filter 2s forwards ease;
    filter: blur(50px);
}
#toggle-btn:hover {
    background-color: #222222;
    transition: 0.3s ease all;
}
#toggle-btn2 {
    margin-top: 5px;
    width: 150px;
    padding: 5px;
    font-size: 14px;
    font-weight: 600;
    background-color: #0d6850;
    color: wheat;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
}
#toggle-btn2:hover {
    background-color: #222222;
    transition: 0.3s ease all;
}
.profile-lower-section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: end;
    gap: 10px;
    width: 100%;
    animation: filter 1s forwards ease;
    filter: blur(5px);
}
.hidden {
    display: none !important;
}
.change-username {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: end;
    gap: 10px;
    width: 100%;
}
.change-username label {
    font-size: 16px;
    font-weight: 700;
    color: wheat;   
}
.change-username input {
    direction: rtl;
    font-size: 13px;
    font-weight: 600;
    background-color: #222222;
    color: rgb(183, 171, 148);
    border: none;
    border-radius: 0.5rem;
    outline: none;
    padding: 7px;
    width: 35%;
}
.change-ramz {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: end;
    gap: 10px;
    width: 100%;
    animation: filter 1s forwards ease;
    filter: blur(5px);
}
.change-ramz label {
    font-size: 16px;
    font-weight: 700;
    color: wheat;
}
.change-ramz input {
    direction: rtl;
    font-size: 13px;
    font-weight: 600;
    background-color: #222222;
    color: rgb(183, 171, 148);
    border: none;
    border-radius: 0.5rem;
    outline: none;
    padding: 7px;
    width: 35%;
}
.team-card {
    text-align: center;
    background-color: #423939;
    width: 900px;
    padding-inline: 20px;
    padding-block: 5px;
    margin: 30px auto;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 8px 2px #0d6850;
    display: flex;
    flex-direction: column;
    animation: card-fade 2s forwards ease;
    transform: translateY(-50%);
    opacity: 0;
}
.team-card h2 {
    color: wheat;
}
.team-action {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 5px;
}
.team-action label {
    font-size: 16px;
    font-weight: 700;
    color: wheat;
}
.create-team {
    width: 50%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: end;
    align-items: end;
    background-color: #423939;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 8px 2px #0d6850;
}
.create-team input {
    direction: rtl;
    width: 100%;
    padding: 8px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    background-color: #222222;
    color: rgb(183, 171, 148);
}
.create-team textarea {
    direction: rtl;
    width: 100%;
    padding: 8px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    background-color: #222222;
    color: rgb(183, 171, 148);
    resize: none;
}
.join-team-code {
    width: 50%;
    padding: 5px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    gap: 10px;
    background-color: #423939;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 8px 2px #0d6850;
}
.join-team-code input {
    direction: rtl;
    width: 100%;
    padding: 8px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    background-color: #222222;
    color: rgb(183, 171, 148);
}
.team-action input:focus {
    box-shadow: 0px 0px 8px 4px #0d6850;
}

.team-settings {
    background-color: #423939;
    width: 900px;
    height: max-content;
    padding-inline: 20px;
    padding-block: 5px;
    margin: 0 auto;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 8px 2px #0d6850;
    animation: card-fade 2s forwards ease;
    transform: translateY(-50%);
    opacity: 0;
}
.team-settings h3 {
    color: wheat;
}
.team-informatio {
    display: flex;
    justify-content: space-between;
    width: 100%;direction: rtl;
    padding: 5px;
}
.team-informatio a {
    position: relative;
    color: #868181;
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
}
.table-container {
    max-height: 150px;
    overflow-y: scroll;
}
.team-table {
    direction: rtl;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.team-table thead th {
    position: sticky;
    top: 0;
    background-color: #222222;
    color: wheat;
    z-index: 2;
    padding: 10px;
}

.team-table td {
    border-bottom: 2px solid black;
    color: wheat;
    padding: 5px;
}
.team-back-link a {
    position: relative;
    color: wheat;
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
}
.team-back-link a::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 3px;
    bottom: -5px;
    left: 50%;
    background: white;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}
.team-back-link a:hover::after {
    width: 100%;
}

#team-settings::after {
    position: absolute;
    content: "";
    bottom: -8px;
    left: 50%;
    width: 0px;
    height: 3px;
    background: white;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}
#team-settings:hover::after {
    width: 100%;
}
.team-settings-card {
    background-color: #423939;
    width: 500px;
    padding-inline: 20px;
    padding-block: 5px;
    text-align: center;
    margin: 15px auto;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 8px 2px #0d6850;
    display: flex;
    flex-direction: column;
    animation: card-fade 2s forwards ease;
    transform: translateY(-50%);
    opacity: 0;
}
.team-settings-card h1 {
    color: wheat;
}
.team-settings-form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    gap: 15px;
    width: 100%;
}
.team-settings-form label {
    font-size: 20px;
    font-weight: 700;
    color: wheat;   
}
.team-settings-form input {
    direction: rtl;
    font-size: 15px;
    font-weight: 600;
    background-color: #222222;
    color: rgb(183, 171, 148);
    border: none;
    border-radius: 0.5rem;
    outline: none;
    padding: 7px;
    width: 100%;   
}
.team-settings-form textarea {
    direction: rtl;
    font-size: 17px;
    font-weight: 700;
    background-color: #222222;
    color: rgb(183, 171, 148);
    border: none;
    border-radius: 0.5rem;
    outline: none;
    padding: 7px;
    width: 100%;
    resize: vertical;
}
.team-settings-form a {
    position: relative;
    color: wheat;
    text-decoration: none;
    font-size: 18px;
    font-weight: 800;
}
.team-settings-form a::after {
    position: absolute;
    content: "";
    bottom: -8px;
    left: 50%;
    width: 0px;
    height: 3px;
    background: white;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}
.team-settings-form a:hover::after {
    width: 100%;
}
.team-settings-users {
    background-color: #423939;
    width: 500px;
    padding-inline: 20px;
    padding-block: 5px;
    text-align: center;
    margin: 0 auto;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 8px 2px #0d6850;
    display: flex;
    flex-direction: column;
    animation: card-fade 2s forwards ease;
    transform: translateY(-50%);
    opacity: 0;   
}
.team-settings-users h2 {
    color: wheat;
}
.users-table {
    direction: rtl;
    width: 100%;
    border-collapse: collapse;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.users-table th {
    border-bottom: 2px solid black;
    color: wheat;
    padding: 10px;
    position: sticky;
    top: 0;
    background-color: #222222;
}
.users-table td {
    border-bottom: 2px solid black;
    color: wheat;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
}
.users-table button {
    color: wheat;
    font-size: 15px;
    font-weight: 800;
    background-color: inherit;
    border: none;
    cursor: pointer;
}
.users-table th.right {
    text-align: right;
}
.users-table th.left {
    text-align: left;
}
.users-table td.right {
    text-align: right;
}
.users-table td.left {
    text-align: left;
}
.delete-team-member {
    display: flex;
    justify-content: end;
    gap: 30px;
    width: 100%;
}
.delete-team-member button {
    position: relative;
    color: wheat;
    background-color: inherit;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 800;
}
.delete-team-member button:hover {
    color: #222222;
}
.delete-team-member a {
    position: relative;
    color: wheat;
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
}
.delete-team-member a:hover {
    color: #222222;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 9998;
}
.delete-team-member-card {
    background-color: #423939;
    color: wheat;
    width: 500px;
    padding-inline: 20px;
    padding-block: 5px;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 8px 2px #0d6850;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 9999;
}
.create-chllenge-card {
    background-color: #423939;
    width: 400px;
    padding-inline: 20px;
    padding-block: 5px;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 8px 2px #0d6850;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 9999;
}
.create-chllenge-card span {
    color: wheat;
    font-size: 30px;
    font-weight: 800;
    cursor: pointer;
}
.create-chllenge-form {
    text-align: right;
    direction: rtl;
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;
    padding: 5px;
}
.create-chllenge-form input {
    direction: rtl;
    font-size: 15px;
    font-weight: 600;
    background-color: #222222;
    color: rgb(183, 171, 148);
    border: none;
    border-radius: 0.5rem;
    outline: none;
    padding: 7px;
    width: 100%;
}
.create-chllenge-form textarea {
    direction: rtl;
    font-size: 16px;
    font-weight: 600;
    background-color: #222222;
    color: rgb(183, 171, 148);
    border: none;
    border-radius: 0.5rem;
    outline: none;
    padding: 7px;
    width: 100%;
    resize: vertical;
}
.create-chllenge-form label {
    font-size: 16px;
    font-weight: 700;
    color: wheat;
}
#fileInput::file-selector-button {
    background-color: #1dcd9e;
    color: black;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

#fileInput::file-selector-button:hover {
    background-color: #45a049;
}
.chlls-container {
    width: 75%;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 30px;
    direction: rtl;
}

.chall-box {
    background-color: #423939;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 8px 2px #0d6850;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: fit-content;
    animation: chall-fade 2s forwards ease;
    transform: translateX(-200%);
    opacity: 0;
}

@keyframes chall-fade {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.chall-box-result {
    display: flex;
    justify-content: space-between;
}
.chall-box-infos {
    display: flex;
    justify-content: space-between;
}
.chall-box span {
    color: #a39e9e;
    font-weight: 600;
}
.chall-box p {
    font-size: 18px;
    font-weight: 600;
    color: wheat;
}
.chall-box-link {
    text-decoration: none;
    color: inherit;
    display: block;
}
.chall {
    position: relative;
    direction: rtl;
    width: 1000px;
    height: fit-content;
    text-align: center;
    padding: 15px;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    margin: 50px auto;
    background-color: #423939;
    box-shadow: 0px 0px 8px 2px #0d6850;
    color: wheat;
    animation: card-fade 2s forwards ease;
    transform: translateY(-100%);
    opacity: 0;
}

.chall .chall-info {
    direction: rtl;
    text-align: right;
    padding: 5px;
    word-wrap: break-word;
    display: flex;
    justify-content: space-between;
}

.chall .chall-info-actions {
    display: flex;
    gap: 30px;
    height: fit-content;
    width: fit-content;
}

.chall-info-actions a {
    text-decoration: none;
    color: #1dcd9e;
    background-color: #222222;
    padding: 10px;
    border-radius: 0.3rem;
    font-size: 20px;
    font-weight: 600;
}

.chall-info-actions button {
    color: #1dcd9e;
    background-color: #222222;
    padding: 10px;
    border-radius: 0.3rem;
    font-size: 20px;
    font-weight: 600;
    border: none;
}

.chall .chall-info-desc {
    font-size: 16px;
}
.chall .chall-result {
    display: flex;
    gap: 10px;
}
.chall .chall-result div{
    text-align: center;
    width: 25%;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #423939;
    padding: 20px;
    border-radius: 0.5rem;
    color: wheat;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 10px #0d6850;
}

.modal-content input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 0.3rem;
    border: none;
    background-color: #222222;
    color: wheat;
    direction: rtl;
}

.modal-content button {
    background: #1dcd9e;
    border: none;
    padding: 10px;
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

#close-modal {
    float: right;
    cursor: pointer;
    font-size: 22px;
}
.scoreboard {
    position: relative;
    direction: rtl;
    width: 1000px;
    height: fit-content;
    text-align: center;
    padding: 15px;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    margin: 80px auto;
    background-color: #423939;
    box-shadow: 0px 0px 8px 2px #0d6850;
    color: wheat;
    animation: card-fade 2s forwards ease;
    transform: translateY(-100%);
    opacity: 0;
}
.score-container {
    max-height: 600px;
    overflow-y: auto;
}

.scoreboard-table {
    width: 100%;
    border-collapse: collapse;
    direction: rtl;
    text-align: center;
}

.scoreboard-table th,
.scoreboard-table td {
    padding: 10px;
    border: 1px solid #222;
    color: wheat;
    background-color: #222222;
}

.scoreboard-table thead th {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #222222;
}

.scoreboard-table tbody tr:nth-child(even) {
    background-color: #383838;
}

.scoreboard-table tbody tr:nth-child(odd) {
    background-color: #2f2f2f;
}

.scoreboard-table tbody tr:hover {
    background-color: #444444;
}